.card {
    background: $yellow;
}

.card .card-action {
    background-color: $brown;
}

.form-logo {
    display: inline;
    border-radius: 6px;
    width: 50px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    opacity: 0.85;
    box-shadow: 2px 2px 5px 1px $brown;
}