h1,
h2,
h3,
h5 {
    color: $white;
}

h1 {
  font-size: 2rem; 
}

nav ul a {
  font-size: 1rem; 
}

nav .brand-logo {
    font-family: 'Jua', 'sans-serif';
}

i.medium {
    font-size: 2rem;
}

/*Form fonts*/
.select-wrapper {
    color: $white;
}

.delete {
    color: $red-delete;
}

