form .material-icons {
    color: $white !important;
    text-shadow: $text-shadow;
}

i.medium {
    font-size: 2rem;
}

div label {
    color: $yellow !important;
    font-weight: 600;
}

textarea.materialize-textarea {
    padding: 0;
    color: $white;
}

input {
    color: white;
}