/*Background themes*/
.background-pitchers {
    background-color: $green;
    opacity: $opacity;
    box-shadow: $box-shadow;
}

.background-catchers {
    background-color: $purple;
    opacity: $opacity;
}

.background-pitches {
    background-color: $red;
    opacity: $opacity;
}

.blocktheme-pitcher {
    @include blockqline;
    color: $green;
}

.blocktheme-catcher {
    @include blockqline;
    color: $purple;
}

.blocktheme-pitch {
    @include blockqline;
    color: $red;
}

/*Margins*/
.margin-top-main {
    margin-top: 10rem;
}

.margin-top-section {
    margin-top: 5rem;
}

.profile-name {
    margin-top: 20%;
}

.profile-card {
    margin-top: 10%;
}

hr {
    width: 33.3%;
    margin-bottom: 2rem;
}

/*Banners*/
.banner {
    width: 33%;
}

// img {
//     display: inline;
// }