.search-heading {
    background: rgba(0,0,0,0.87);
    padding: 10px;
}

.valign-wrapper {
    margin-top: 17%;
    border-bottom: 1px white solid;
    border-top: 1px solid white;
}

.reg-header {
    @media (min-width: 992px) {
        font-size: 3rem !important;
        line-height: 0 !important;
    }
}

.tagline {
    opacity: .7;
    text-shadow: $text-shadow;
    margin: {
        left: auto;
        right: auto;
    }
    @media (min-width: 768px) {
        font-size: 4rem;
    }
}

h5 a {
    color: white;
}