nav {
    height: 12rem;
    background-color: $black;
}

.sub-heading {
    position: fixed;
    top: 5rem;
    left: 5rem;
    font-size: 2rem;
}



// Dropdown menus
.margin-top {
    margin-top: 10rem;
}

.margin-header {
    margin-top: 5rem;
}

.pitch-card {
    margin-top: 0 !important;
}
