// Colors
$green: #88ca35;
$black: #000;
$white: #fff;
$red: #943d3d;
$brown: #a08111;
$red-delete: #ff4040;
$purple: #5d4ce8;
$yellow: rgba(255, 227, 157, 0.85);
$yellow-label: #ffc71a;

$opacity: .7;

// Font Effects
$text-shadow: 3px 2px 4px black;
$labels-weight: 700;

// Fonts (small view)
$sm-headers: 6rem;
$lg-headers: 3.5rem;

$sm-body: 2.5rem;
$lg-body: 1rem;

/*Shadows*/
$box-shadow: 3px 4px 7px black;


// Padding (small view)
$sm-padding: 1rem;