@import "variables.scss";
@import "mixins.scss";
@import "navbar.scss";
@import "fonts.scss";
@import "headers.scss";
@import "accordian.scss";
@import "globals.scss";
@import "forms.scss";
@import "card.scss";


// ///////////////////////////////////////////////////body
body {
    background: {
        size: cover;
        repeat: no-repeat;
        image: url('/static/images/back-image.jpg');
        attachment: fixed;
        position: center;
    }
}





form .material-icons {
    color: $white !important;
    text-shadow: $text-shadow;
}



////////////////////////////////////////////////////// fonts

.reg-header {
    @media (min-width: 992px) {
        font-size: 3rem !important;
        line-height: 0 !important;
    }
}

.blocktheme-pitcher {
    @include blockqline;
    color: $green;
}

.blocktheme-catcher {
    @include blockqline;
    color: $purple;
}

.blocktheme-pitch {
    @include blockqline;
    color: $green;
}
