{% extends 'base.html' %} 


{% block content %}

<div class="row">
    <!--Pitcher registration head banner-->
    <div class="col s12 background-pitchers right-align margin-top-section banner">
        
        <!--Tooltip page guide-->
        <h5>pitcher edit <a class="tooltipped" data-position="top" data-tooltip="Edit the profile details using the form below and save your changes">
            <i class="material-icons medium">help_outline</i></a></h5>
    </div>
    
    <!--Registration Form-->
    <form method="POST" action="/edit_pitcher/{{movement_name}}" autocomplete="off" enctype="multipart/form-data">
        
        <!--csrf token-->
        {{ form.csrf_token }}
        <div class="row">
            
            <!--Form Text Area - Name-->
            <div class="input-field col s12 m8 offset-m2 l5">
                <i class="material-icons medium right">people</i>
                {{ form.movement_name.label }}
                {{ form.movement_name }}
            </div>

            <!--Form Text Input - URL-->
            <div class="input-field col s12 m8 offset-m2 l5 offset-l2">
                <i class="material-icons medium right">web</i>
                {{ form.movement_url.label }}
                {{ form.movement_url }}
            </div>

            <!--Form Select - Interests-->
            <div class="input-field col s12 m8 offset-m2 l5">
                <i class="material-icons medium right">priority_high</i>
                {{ form.interests.label }}
                {{ form.interests }} 
            </div>

            <!--Form Select - Region-->
            <div class="input-field col s12 m8 offset-m2 l5 offset-l2">
                <i class="material-icons medium right">public</i>
               {{ form.region.label }}
               {{ form.region }}
            </div>

            <!--Form Text Area - Description-->
            <div class="input-field col s12 m8 offset-m2 l5">
                <i class="material-icons medium right">assignment</i>
                {{ form.movement_description.label }}
                {{ form.movement_description(class="materialize-textarea") }}
            </div>

            <!--Form Text Input - email-->
            <div class="input-field col s12 m8 offset-m2 l5 offset-l2">
                <i class="material-icons medium right">contact_mail</i>
                {{ form.email.label }}
                {{ form.email }}
            </div>

            <!--Submit Form Button-->
            <div class="col s12 center-align">
                <button class="btn btn-medium waves-effect waves-light" type="submit">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}