{% extends 'base.html' %} {% block content %}

<div class="row margin-top">
    <div class="col s12">
        <div class="valign-wrapper">
            <h5 class="center-align tagline">Creating change<br> by connecting passionate software developers<br>
            with cutting-edge social movements</h5>
        </div>
    </div>
</div>

<!--Modals-->
<div class="row margin-top-index">
    <div class="col s4 center-align">
        <!-- Pitcher Modal Trigger -->
        <a class="background-pitchers btn-floating btn-large waves-effect waves-light modal-trigger pulse" href="#modal1"><i class="material-icons">info_outline</i></a>
        <p class="modal-btns">pitchers</p>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <img class="pitcher-logo" src="/static/images/pitcher.png">
                <h4>defn.<em> pitcher</em></h4>
                <p><em>n.</em> a social movement or campaign with the ability to make 'pitches' (proposals) for collaboration to pitchCatch's network of 'catchers' (software developers).</p>
                <p>There are {{pitcher_count}} 'pitchers' in the pitchCatch network.</p>
                <p>You can explore the profiles of existing<a href="/pitchers"> pitchers,</a> or just join us now...</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
    <div class="col s4 center-align">
        <!-- Pitch Modal Trigger -->
        <a class="background-pitches btn-floating btn-large waves-effect pulse waves-light modal-trigger" href="#modal2"><i class="material-icons">info_outline</i></a>
        <p class="modal-btns">pitches</p>

        <!-- Modal Structure -->
        <div id="modal2" class="modal">
            <div class="modal-content">
                <img class="pitch-logo" src="/static/images/pitch.png">
                <h4>defn. <em>pitch</em></h4>
                <p><em>n.</em> a proposal by a pitchCatch 'pitcher' (social movement) which requires the expertise of 'catchers' (software developers).</p>
                <p>There have been {{pitch_count}} 'pitches' made through the pitchCatch network.</p>
                <p>You can explore the profiles of existing<a href="/pitches"> pitches,</a> or just join us now...</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
    <div class="col s4 center-align">
        <!-- Catcher Modal Trigger -->
        <a class="background-catchers btn-floating btn-large waves-effect pulse waves-light modal-trigger" href="#modal3"><i class="material-icons">info_outline</i></a>
        <p class="modal-btns">catchers</p>

        <!-- Modal Structure -->
        <div id="modal3" class="modal">
            <div class="modal-content">
                <img class="catcher-logo" src="/static/images/catcher.png">
                <h4>defn. <em>catcher</em></h4>
                <p><em>n.</em> a software developer with the ability to 'catch' (express interest in) 'pitches' (proposals) for collaboration made by pitchCatch's network of 'pitchers' (social movements).</p>
                <p>There are {{catcher_count}} 'catchers' in the pitchCatch network.</p>
                <p>You can explore the profiles of existing<a href="/catchers"> catchers,</a> or just join us now...</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
