{% extends 'base.html' %} 

{% block content %}

<div class="row margin-top">
    <div class="col s12 background-pitchers left-align">
        
        <!--Tooltip page guide-->
        <h5>pitcher search <a class="tooltipped" data-position="top" data-tooltip="Scroll through our network of pitchers or filter your results using certain criteria">
            <i class="material-icons medium">help_outline</i></a></h5>
    </div>
    <div class="col s12 l7 push-l5 profile-card">
        <h5 class='search-heading'>{{pitcher_count}} pitchers matched your search</h5>
        
        <!--Table to display pitchers-->
        <table class="highlight">
            <thead>
                <tr>
                    <th class="thead">Name</th>
                    <th class="thead">Interests</th>
                    <th class="thead">Region</th>
                </tr>
            </thead>
            <tbody>
                {% for pitcher in pitchers_search %}
                <tr>
                    <td><a href='/pitcher_profile/{{pitcher.movement_name}}'>{{ pitcher.movement_name }}</a></td>
                    <td>{{ pitcher.interests.value }}</td>
                    <td>{{ pitcher.region.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/pitchers"><button class="btn btn-medium waves-effect waves-light red right" type="submit" name="action">Reset
            <i class="material-icons right">send</i>
        </button></a>
    </div>
    <div class="col s12 l4 pull-l7 profile-card background-pitchers">
        <h5 class='search-heading'>Browse pitchers...</h5>
        
        <!--Pitcher Search Form-->
        <form method="POST" class="margin-header" action="/pitchers">
            {{ form.csrf_token }}

            <!--Form Select - Interests-->
            <div class="input-field">
                <i class="material-icons medium right">priority_high</i>
                <label>Search by interests</label>
                {{ form.interests }} 
            </div>

            <!--Form Select - Region-->
            <div class="input-field">
                <i class="material-icons medium right">public</i>
               <label>Search by region</label>
               {{ form.region }}
            </div>
            
            <!--Option Dropdown - Sponsor-->
            <div class="input-field">
                <i class="material-icons medium right">people</i>
                <select id="movement_name" name="movement_name">
                <option value="---" selected>Select your name</option>
                 
                {% for pitcher in pitchers_all | select(attribute='movement_name') %}
                <option value="{{pitcher.movement_name}}">{{pitcher.movement_name}}</option>
                {% endfor %}
                </select>
                <label>Search by pitcher name</label>
            </div>
            <button class="btn btn-medium waves-effect waves-light" type="submit" name="action">Search
                <i class="material-icons right">send</i>
            </button>
        </form>
     </div>
</div>

{% endblock %}
