{% extends 'base.html' %} {% block content %}

<div class="row margin-top">


    <div class="col s12 background-pitchers left-align">
        <h1>pitcher Profile</h1>
    </div>


    {% for pitcher in pitcher_profile %}
    <div class="col s12 m4 center-align profile-name">
        <h1>{{pitcher.movement_name}}</h2>
    </div>


    <!--testing materilize card-->

    <div class="col s12 m8 profile-card">
        <div class="card sticky-action">
            <div>
                <div class="brand-logo center-align">Summary</div>
                <hr>
                <ul class="center-align">
                    <li><strong>WHERE WE'RE BASED:</strong></li>
                    <li><em>{{pitcher.region.value}}</em></li>
                    <li><strong>OUR MAIN FOCUS IS:</strong></li>
                    <li><em>{{pitcher.interests.value}}</em></li>
                    <li><strong>MORE INFO:</strong></li>
                    <li><em><a href="{{pitcher.movement_url}}">{{pitcher.movement_url}}</a></em></li>
                    <li><strong>CONTACT DETAILS:</strong></li>
                    <li><em>{{pitcher.email}}</em></li>
                </ul>
            </div>
            <div class="card-action">
                <span class="card-title activator grey-text text-darken-4 left-align">pitches to date:<i class="material-icons right">more_vert</i></span>
                <ul>
                    {% for throw in pitcher.throw %}

                    <!--Need an if statement here for blank returns-->

                    <li>{{ throw.proposal_name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-reveal">
                <span class="card-title brand-logo grey-text text-darken-4">About us<i class="material-icons right">close</i></span>
                <p>{{ pitcher.movement_description }}</p>
            </div>
        </div>
    </div>
</div>
    {% endfor %} {% endblock %}
