{% extends 'base.html' %} 

{% block content %}

<div class="row margin-top">

    <div class="col s12 background-pitchers left-align">
        <h1>pitcher profile</h1>
    </div>


    {% for pitcher in pitcher_profile %}
    <div class="col s12 m5 left-align profile-name">
        <blockquote class="blocktheme-pitcher">
            <h1>{{pitcher.movement_name}}</h1>
        </blockquote>
    </div>
    
    <!--Materilize card to display profile information-->
    <div class="col s12 m7 profile-card">
        <div class="card sticky-action">
            <div>
                <div class="brand-logo center-align"><img class="form-logo" src="/static/images/pitcher.png">Summary</div>
                <hr>
                <ul class="center-align">
                    <li><strong>WHERE WE'RE BASED:</strong></li>
                    <li><em>{{pitcher.region.value}}</em></li>
                    <li><strong>OUR MAIN FOCUS IS:</strong></li>
                    <li><em>{{pitcher.interests.value}}</em></li>
                    <li><strong>MORE INFO:</strong></li>
                    <li><em><a href="{{pitcher.movement_url}}">{{pitcher.movement_url}}</a></em></li>
                    <li><strong>CONTACT DETAILS:</strong></li>
                    <li><em>{{pitcher.email}}</em></li>
                </ul>
            </div>
            <div class="card-action">
                <span class="card-title activator grey-text text-darken-4 left-align">pitches to date:<i class="material-icons right">more_vert</i></span>
                <ul>
                    {% for throw in pitcher.throw %}

                    <!--if statement needed for blank-->
                    {% if pitcher.throw == Null %}
                    <li>None</li>
                    {% else %}
                    
                    <li>{{ throw.proposal_name }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="card-reveal">
                <span class="card-title brand-logo grey-text text-darken-4">About us<i class="material-icons right">close</i></span>
                <p>{{ pitcher.movement_description }}</p><br><br>
            </div>
        </div>
    </div>
    <div class="col s7 offset-s5">
        <a href='/delete_pitcher/{{pitcher.movement_name}}'>
            <i class="material-icons medium left delete">delete_forever</i>
        </a>        
        <a href='/edit_pitcher/{{pitcher.movement_name}}'>
            <i class="material-icons medium left">edit</i>
        </a>
    </div>
</div>
    {% endfor %} {% endblock %}
