{% extends 'base.html' %} 

{% block content %}

<div class="row margin-top">
    <div class="col s12 background-pitchers left-align">
        <h1>pitcher search</h1>
    </div>
    
    <div class="col s12 l7 push-l5 profile-card">
        <h5 class='search-heading'>{{pitcher_count}} pitchers are registered with pitchCatch</h5>
        
        <!--Table for displaying pitchers-->
        <table class="highlight">
            <thead>
                <tr>
                    <th class="thead">Name</th>
                    <th class="thead">Interests</th>
                    <th class="thead">Region</th>
                </tr>
            </thead>
            <tbody>
                {% for pitcher in pitchers_list %}
                <tr>
                    <td><a href='/pitcher_profile/{{pitcher.movement_name}}'>{{ pitcher.movement_name }}</a></td>
                    <td>{{ pitcher.interests.value }}</td>
                    <td>{{ pitcher.region.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="col s12 l4 pull-l7 profile-card background-pitchers">
        <h5 class='search-heading'>Browse pitchers...</h5>
        <!--Pitcher Search Form -->
        <form method="POST" class="margin-header" action="/pitchers" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <!--Form Select - Interests-->
            <div class="input-field">
                <i class="material-icons medium right">priority_high</i>
                <label>Search by interests</label>
                {{ form.interests }} 
            </div>

            <!--Form Select - Region-->
            <div class="input-field">
                <i class="material-icons medium right">public</i>
                <label>Search by region</label>
                {{ form.region }}
            </div>
            
            <!--Option Dropdown - Sponsor-->
            <div class="input-field">
                <i class="material-icons medium right">people</i>
                <select id="movement_name" name="movement_name">
                <option value="---" selected>Select name</option>
                 
                {% for pitcher in pitchers_list | select(attribute='movement_name') %}
                <option value="{{pitcher.movement_name}}">{{pitcher.movement_name}}</option>
                {% endfor %}
                </select>
                <label>Search by pitcher name</label>
            </div>
            <button class="btn btn-medium waves-effect waves-light" type="submit">Search
                <i class="material-icons right">send</i>
            </button>
        </form>
     </div>
    

</div>

{% endblock %}
